<div class="row">
  <div class="col-md-4 " style="margin-left: 40%;">
    <form  [formGroup]="Admin_Login" style="text-align:center;" ngNativeValidate (ngSubmit)="Admin_Login()">
      <label >email:</label>
        <input class="form-control" formControlName="email" type="email"  required>
      <label>Password:</label>
        <input class="form-control" formControlName="password" type="password"  required>
      <button type="submit" class="btn btn-info" >submit</button>
    </form>
  </div>
</div>
